@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

$primary: #37927a;
$secondary: #ef9d9e;
$warning: #ff847c;
// $warning: #e84a5f;
// $warning: #c0392b;
$favorite: #e84a5f;
// $favorite: #e74c3c;
$success: #05bdfa;
$turquoise: #99b898; // this is the color of comment buttons and follow vs explore
// $turquoise: #1abc9c;
$btn-close-color: white;
$nav-bar: #2a363b;
$nav-bar2: #2a363b;
// $nav-bar: #34495e;
// $nav-bar2: #2c3e50;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "warning": $warning,
  "success": $success,
  "turquoise": $turquoise,
  "favorite": $favorite,
  "nav-bar": $nav-bar,
  "nav-bar2": $nav-bar2,
  // "nav-bar": $nav-bar,
  // "nav-bar2": $nav-bar2,
  //   "yellow": #fad02c,
  //   "green": #81b622,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

ul {
  list-style-type: none;
}

@media screen and (max-width: 667px) {
  #profile-details {
    display: flex;
    // flex-flow: "column";
    // align-items: "center";
    border: 5px solid red;
    justify-content: space-between;
    font-size: 0.8rem;
    img {
      max-width: 175px;
      max-height: 175px;
    }
  }
}

.scroll-button {
  position: fixed;
  left: 90%;
  top: 90%;
  z-index: 999;
}

// style={{
//   justifyContent: "space-between",
//   display: "flex",
// }}

// body {
//   padding-top: 60px;
// }
// @media (max-width: 979px) {
//   body {
//     padding-top: 0px;
//   }
// }

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";
